/* CSS */

/* Haut de la page (Menu de sélection "Général") */
:root{
  --hauteur-menu: 60px;
}
* {
  margin: 0px;
  padding: 0px;
  font-family: Montserrat, sans-serif;
}
nav {
  width: 100%;
  font-size: 18px;
  position: sticky;
  top: 0;
}

nav > ul {
  display: flex;
  text-align: center;
  box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.3);
  height: var(--hauteur-menu);
}

nav ul {
  list-style-type: none;
}

nav > ul > li {
  background-color: white;
  position: relative;
  height: 100%;
  flex: 1;
}

nav > ul > li > a {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

li a {
  text-decoration: none;
  color: black;
}

.menu-deroulant > a:after{
  content: '❯';
  font-size: 15px;
  margin-left: 7px;
  display: inline-block;
}

.sous-menu {
  margin-top: var(--hauteur-menu);
  width: 100%;
  text-align: left;
  background-color: white;
  border-radius: 2px;
  overflow: hidden;
  max-height: 0;
}

.sous-menu > li > a {
  height: 50px;
  padding-left: 20px;
  width: 100%;
  align-items: center;
  display: flex;
}

nav > ul > li:hover > a{
  color: #2169EC;
}

.sous-menu > li:hover {
  background-color: rgba(33, 105, 236, 0.3);
}

.sous-menu > li:hover > a {
  color: white;
}

@keyframes rotationFleche {
  0% {
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(90deg);
  }
}

.menu-deroulant:hover > a:after{
  animation: rotationFleche 0.2s linear forwards;
}

@keyframes apparitionSousMenu {
  0% {
    box-shadow: 0px 3px 3px 1px rgba(0,0,0,0);
    border-top: 3px solid #2169EC;
  }
  30% {
    box-shadow: 0px 3px 3px 1px rgba(0,0,0,0.3);
  }
  100% {
    max-height: 50em;
    border-top: 3px solid #2169EC;
    box-shadow: 0px 3px 3px 1px rgba(0,0,0,0.3);
  }
}

.menu-deroulant:hover > .sous-menu {
  animation: apparitionSousMenu 1s forwards;
}
/*Affichage Responsive*/
@media(min-width: 800px){
    .burger{
        display:none;
    }
    article{
        width: 50%;
    }
    nav>div>div:hover{
        text-shadow: 6px 5px 3px #101d58;
    }
}

@media(max-width: 800px){
    .burger > img{
        width: 50px;
        z-index: 4;
        background-color: #1960e3;
        border-radius: 5em;
        box-shadow: 5px 5px #103478;
        margin: 5px;
        padding: 10px;
        position: sticky;
        top: 10px;
    }
    nav .menu_general{
        display: none;
    }
    .burger{
        width: 84px;
    }
    article{
        width: 85%;
    }
}

/*Affiche avec une ombre le titre de la page actuelle*/
.active{
    text-shadow: 6px 5px 3px #101d58;
}


/*_____________________*/

/* BODY */

body { /* Toute la page sauf head et footer */
    /*background-color: #d0d3d6;*/
    background-image: url("../images/pattern_sida.jpg");
    background-position: top center;
    background-repeat: repeat repeat;
    background-size: auto;
    font-family: "Verdana", serif;
    margin: auto;
    height:100%;
}

h1 { /* Titre */
    background: radial-gradient(#353535 400px ,transparent 100%) ;
    /*opacity: 1;*/
    font-size: 50px;
    color: white;
    padding: 40px 0;
    margin: 5% auto auto auto;
    width: 100%;
    text-align: center;
    line-height: 120%;
}

h2 { /* Sous Titre */
    background: radial-gradient(#353535 400px, transparent 100%);
    /*opacity: 0.9;*/
    font-style: italic;
    font-size: 30px;
    color: white;
    padding: 40px 0;
    margin: auto auto 2% auto;
    width: 100%;
    text-align: center;
    line-height: 120%;
}

h3 { /* Titres de Paragraphes */
    font-size: 25px;
    color: black;
    padding-left: 25px;
    margin: 2% auto 1% auto;
    width: 100%;
}
/*Paramètres de la page*/
main{
    display: flex;
    justify-content: center;
}

/*Affichage principal*/
article{
    margin-top: 30px;
}

/*Paragraphes*/
section {
    background-color: #d0d3d6;
    border: 2px solid grey;
    border-radius: 1em;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    margin-left: 5px;
    margin-right: 5px;
    padding-bottom: 1%;

}

/* Texte des paragraphes */
p {
    font-family: "Trebuchet MS", serif;
    font-size: 17px;
    text-indent: 5px;
    margin-bottom: 10px;
    margin-left: 30px;
    margin-right: 30px;
    text-align: justify;

}

/* ACCUEIL */

.illu_accueil{
    width: 75%;
    margin-left: auto;
    margin-right:auto;
    border-radius: 3em;
    display:flex;
}


/* CHRONOLOGIE */

.vieux{
    width: 80%;
    margin-top: 100%;
    margin-bottom: 40%;
}

aside{
    margin-left: 2%;
    flex: 33.33%;
}

@media(max-width: 900px){
    aside{
        display: none;
    }
}

@media(min-width: 900px){
    .frise{
        display: flex;
        flex: 33.33%;
    }
}

.chrono{
    display: flex;
    flex: 33.33%;
    margin-top: 0;
}

.italic{
    font-style: italic;
}

.europe{
    width: 90%;
    margin-bottom: 40%;
}

.frise_img{
    margin-top: 70%;
    width: 80%;
    height: 80%;
}

/* ARGUMENTS */

.wow {
    width: 40%;
    margin: auto;
    display: flex;

}

.soc{
    width: 25%;
    margin: auto;
    display: flex;
}


/* FOOTER */
/* css des boutons de liens*/
.twitter {
    position: fixed;
    bottom: 5px;
    right: 5px;
}
.facebook {
    position: fixed;
    bottom: 40px;
    right: 5px;
}
.youtube {
    position: fixed;
    bottom: 75px;
    right: 5px;
}
.instagram {
    position: fixed;
    bottom: 110px;
    right: 5px;
}

footer{
    background-color: #d0d3d6;
    bottom:0;
    width: 100%;
    height: 25px;
}

/*-----Contact-----*/

#contact{
    flex-direction: column;
}

#formulaire{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    background-color: #353535;
    border: solid white;
    border-radius: 1em;
    padding: 5px;
    line-height: 50px;
    box-shadow: 5px 5px lightgray;
    margin-bottom: 155px;
}

footer > #copyright {
    color: black;
    position: relative;
    margin-left: 0;
}

#contactFooter{
    position: relative;
}


/*______Acteurs__________*/

.aligner{
    display:flex;
    flex-direction:row;
}
.consommateurs,.gouvernement,.drapeau_europe{
    width: 35%;
    height: 35%;
    padding-right: 10px;
    padding-bottom: 10px;
    border-radius:2em;
}

.GAFAM,.RGPD,.planete{
    width: 35%;
    height: 35%;
    padding-bottom: 10px;
    padding-left: 10px;
    border-radius:2em;
}
.drapeau_europe,.planete{
    width: 25%;
    height: 25%;
}
